.App {
  text-align: center;
  
}
.product-div {
  display: flex;
  justify-content: space-evenly ;
  flex-wrap: wrap;
  flex-flow: wrap;
}

#about-mom-made {
  
  /* width: 600px; */
  display: flex;
  
}

#github-logo {
  height: 30px;
  width: 30px;
}

#linkedin-logo {
  height: 30px;
  width: 30px;
}

.footer {
  
  background-color: rgba(33, 37, 41,1);
  width: 100%;
}

#about-text1 {
  width: 60%;
  margin-left: 20%;

    
}

#about-socials {
  display: flex;
  justify-content: space-evenly ;

}
#collections-div {
  display: flex;
  justify-content: space-around;
}

#register-form {
  display: flex;
  justify-content: center;
   
}

#login-form {
  display: flex;
  justify-content: center;
}